<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cis642.aphidcounter" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TakePhotos"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_take_photo"
            android:parentActivityName=".activity.MyActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cis642.aphidcounter.activity.MyActivity" />
        </activity>
        <activity
            android:name=".CapturePhoto"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_capture_photo"
            android:parentActivityName=".activity.MyActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cis642.aphidcounter.activity.MyActivity" />
        </activity>
        <activity
            android:name=".ViewHistory"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_view_history"
            android:parentActivityName=".activity.MyActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cis642.aphidcounter.activity.MyActivity" />
        </activity>
        <activity
            android:name=".ViewPhotoSet"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_view_photo_set"
            android:launchMode="singleTop"
            android:parentActivityName=".ViewHistory"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cis642.aphidcounter.ViewHistory" />
        </activity>
        <activity
            android:name=".storage.AddField"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/addField_label"
            android:parentActivityName=".activity.MyActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cis642.aphidcounter.activity.MyActivity" />
        </activity>
        <activity
            android:name=".storage.SelectField"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/selectField_label"
            android:parentActivityName=".storage.AddField"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cis642.aphidcounter.storage.AddField" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Conversion Test"
            android:parentActivityName=".activity.MyActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cis642.aphidcounter.activity.MyActivity" />
        </activity>
        <activity
            android:name=".activity.ViewPhotos"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_view_photos"
            android:parentActivityName=".ViewPhotoSet"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cis642.aphidcounter.ViewPhotoSet" />
        </activity>
        <activity
            android:name=".activity.ConvertPhotos"
            android:configChanges="orientation|keyboardHidden"
            android:label="Convert Photos"
            android:parentActivityName=".activity.MyActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cis642.aphidcounter.activity.MyActivity" />
        </activity>
    </application>

</manifest>
